backend/app/__pycache__/
backend/app/makefile
backend/app/data/.old_video_games.zip
backend/app/data/*.csv
backend/app/data/*.db

frontend/node_modules/
frontend/expo-env.d.ts
frontend/.expo/
frontend/tsconfig.json
